@charset "UTF-8";

html {
	overflow-y: scroll;
	/* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
	scroll-behavior: smooth;
}

/* リセットおまじない--------------------------------- */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0px;
	padding: 0px;
}

body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}

li {
	list-style: none;
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

img {
	border: 0px;
	vertical-align: bottom;
}

/* --------------------------------------------------- */
body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
	color: #3b4043;

}

h1 {
	font-size: 28px;
	margin: 40px;
}

h2 {
	font-size: 20px;
	margin: 10px 0;
}

p {
	text-align: left;
}

a {
	display: block;
}

header {
	background-color:#aab;
	width: 100%;
	height: 55px;
	color: #f7f7f7;
	font-weight: 700;
	display: flex;
	justify-content: space-around;
	line-height: 55px;
}

header ul {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

#main-visual .container {
	background: no-repeat center;
	background-size: cover;
	background-image: url("https://github.com/mayuhana/portfolio/blob/main/img/%E3%83%A1%E3%82%AB%E3%82%99%E3%83%8D2.jpeg?raw=true");
	height: 700px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about{
	border: 5px solid #aab;
	margin: 100px;
	padding: 100px;
	background-color: #dadae1;
	position: relative;
}
#about h2 {
	/* 本来の位置から */
	/* position: relative; */
	
	/* 親要素の位置から */
	/* 前提親要素に position:relative;が指定されているのが条件 */
	/* position: absolute; */

	/* 親要素にくっつく */
	/* position: sticky; */

	/* 画面から見て固定 */
	/* position:fixed; */
	/* top: 100px; */
}

#gallery .inline-container img {
	width: 250px;
	height: 200px;
}

.inline-container span,
.block-container p {
	background-color: coral;
	width: 300px;
	height: 200px;
	margin: 20px;
	padding: 20px;
	text-align: center;
	/* margin: 0 auto; */
}

/* @media screen and (max-width: 780px) {
	h2 {
		color: red;
	}
} */

